<% layout("/layouts/boilerplate.ejs") %>
<body>
    <div class="row col-6 offset-3">
        <h5 class="card-title mt-3"><b><%=list1.title%></b></h5>
    <div class="card">
        <img src="<%=list1.image.url%>" class="card-img-top" alt="image" style="height:20rem" background-size="contain"><br/>
        <div class="card-body">
          <p>Owned by <i><b><%=list1.owner.username%></b></i></p>
          <p class="card-text"><%=list1.description%></p>
          <li>&#8377;<%=list1.price.toLocaleString()%></li>
          <li><%=list1.location%></li>
          <li><%=list1.country%></li>
        </div><br/>
        <% if(curruser && curruser._id.equals(list1.owner._id)) { %>
        <div class="btns">
            <a href="/listing/<%=list1.id%>/edit"><button class="btn btn-dark" style="background-color:#fe424d">edit</button></a><br/><br/>
            <form method="post" action="/listing/<%=list1.id%>?_method=delete">
                <button class="btn btn-dark btn2">Delete</button>
            </form>
        </div>
        <%}%><br/>
      </div><hr/>
      <div class="mb-3 mt-2">
        <% if(curruser){ %>
        <h4>Leave a review</h4>        
        <form method="post" action="/listing/<%=list1.id%>/review" novalidate class="needs-validation">
            <label for="rating" class="form-label">Rating</label>
            <fieldset class="starability-slot">
              <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
              <input type="radio" id="first-rate1" name="review[rating]" value="1" />
              <label for="first-rate1" title="Terrible">1 star</label>
              <input type="radio" id="first-rate2" name="review[rating]" value="2" />
              <label for="first-rate2" title="Not good">2 stars</label>
              <input type="radio" id="first-rate3" name="review[rating]" value="3" />
              <label for="first-rate3" title="Average">3 stars</label>
              <input type="radio" id="first-rate4" name="review[rating]" value="4" />
              <label for="first-rate4" title="Very good">4 stars</label>
              <input type="radio" id="first-rate5" name="review[rating]" value="5" />
              <label for="first-rate5" title="Amazing">5 stars</label>
            </fieldset>
            <div>
                <label for="comment" class="form-label">Comment</label>
                <textarea type="text" name="review[comment]" col="20" row="5" class="form-control" required></textarea>
                <div class="invalid-feedback">Please add some comment for reviews</div>
            </div><br/>
            <button class="btn btn-dark">Submit</button>
        </form>
        <%}%>
      </div>
      <%for(let review of list1.reviews){%>
        <div class="row col-6 ms-2">
          <div class="card cards mb-2" style="background-Color:rgb(129, 230, 228)">
            <div class="card-body">
              <h5 class="card-title"><%=review.author.username%></h5>
              <p class="starability-result" data-rating="<%=review.rating%>"></p>
              <p class="card-text"><%=review.comment%></p>
              <% if(curruser && curruser._id.equals(review.author._id)){%>
                <form method="post" action="/listing/<%=list1._id%>/review/<%=review._id%>?_method=delete">
                  <button class="btn btn-dark btn-sm mb-1">Delete</button>
                </form>
              <% } %>
            </div>
          </div>
        </div>
      <%}%>
    </div>
</body>
